.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vi;
  width: 15.2vi;
  height: 16.55vi;
  position: relative;
  overflow: hidden;
  border-radius: 14px;
}

.content::before {
  content: "";
  position: absolute;
  left: -10%;
  top: -83%;
  transform: rotate(90deg) translateY(-50%);
  bottom: 0;
  width: 2.5vi;
  height: 30vi;
  background-image: linear-gradient(90deg, #ffffff1c, transparent);
  z-index: 2;
  border-radius: 10px 0 0 10px;
}

.content::after {
  content: "";
  position: absolute;
  right: 140%;
  top: 5%;
  transform: rotate(90deg) translateY(-50%);
  bottom: 0;
  width: 2.5vi;
  height: 30vi;
  background-image: linear-gradient(-90deg, #ffffff1c, transparent);
  z-index: 9;
  border-radius: 0 10px 10px 0;
}

.basic-marquee {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.63vi;
  width: 100%;
}

.basic-marquee .button {
  transition: all 0.3s ease;
}

.basic-marquee .button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.basic-marquee-1 {
  justify-content: flex-end;
  animation: marquee 10s linear infinite;
}

.basic-marquee-2 {
  justify-content: flex-start;
  animation: marquee2 10s linear infinite;
  margin-top: 1rem;
  gap: 0;
  overflow: hidden;
  height: 120vi;
}

.benefits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  min-width: 15vi;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  inset: 0;
}

@keyframes marquee {
  0% {
    transform: translateY(5vi);
  }
  100% {
    transform: translatey(38.75vi);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateY(0.5vi);
  }
  100% {
    transform: translatey(-34.5vi);
  }
}

.basic-marquee svg {
  width: 5vi;
  height: 5vi;
}

.basic-marquee-2 a:nth-child(1) .button svg {
  padding-left: 4.8rem;
  width: 8vi;
}

.basic-marquee-2 a:nth-child(8) .button svg {
  padding-left: 4.8rem;
  width: 8vi;
}

.basic-marquee button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (orientation: portrait) and (max-width: 700px){
  .content {
    width: 29vi;
    height: 30vi;
  }

  .content::after {
    right: 97%;
    top: 46%;
  }

  .content::before {
    right: 97%;
    top: -46%;
  }

  .basic-marquee svg {
    width: 10vi;
    height: 10vi;
  }

  .basic-marquee-2 a:nth-child(1) .button svg {
    padding-left: 3.2rem;
    width: 15.2vi;
  }
  .basic-marquee-2 a:nth-child(8) .button svg {
    padding-left: 3.2rem;
    width: 15.2vi;
  }

  @keyframes marquee {
    0% {
      transform: translateY(10%);
    }
    100% {
      transform: translatey(224%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translatey(-68.2%);
    }
  }
}